In [12]:
import os
from dotenv import load_dotenv
from pyprojroot import here
from typing import List
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import create_sql_agent
from langchain.agents import AgentType
from langchain_core.tools import tool

load_dotenv()

True

In [2]:
from langchain_google_genai import GoogleGenerativeAI

os.environ["GOOGLE_API_KEY"] = os.getenv("GOOGLE_API_KEY")
# Initialize Gemini Pro
llm = GoogleGenerativeAI(model="gemini-pro")

In [3]:
sqldb_directory = here("data/Chinook.db")
db = SQLDatabase.from_uri(f"sqlite:///{sqldb_directory}")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'AntÃ´nio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [13]:
agent_executor = create_sql_agent(
    llm,
    db = db,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose = True,
    handle_parsing_errors=True
)

In [14]:
# agent_executor.invoke("How many different Artists are there?")
response = {}
try:
    response = agent_executor.invoke("What are all the genres of Alanis Morissette songs?")
except Exception as e:
    # response = {}
    print(e)
print(f"""\n\nresponse: {response.get("output", "I don't know?")}""")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackThe most relevant table is likely Track, so I should look at its schema.
Action: sql_db_schema
Action Input: Track
CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/The "GenreId" column in the "Track" table references the "Genre" table, so I can query the "Genre" table to get all the genres of Alanis Morissette songs.  The "Track" table has a foreign key to the "Album" table.  I need to join the "Track" table with the "Album" table, then join the "Album" table with the "Artist" table, then filter the results for the ArtistId of Alanis Morissette.
Action: sql_db_query_checker
Action Input: SELECT DISTINCT(Name) FROM Genre WHERE GenreId IN (SELECT GenreId FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = 10))SELECT DISTINCT(Name) FROM Genre WHERE GenreId IN (SELECT GenreId FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = 10))Action: sql_db_query
Action Input: SELECT DISTINCT(Name) FROM Genre WHERE GenreId IN (SELECT GenreId FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = 10))[('Jazz',)]Final Answer: Jazz

> Finished chain.


response: Jazz

In [15]:
@tool
def query_chinook_sqldb(query: str) -> str:
    """Query the Chinook SQL Database. Input should be a search query."""
    # Create an instance of ChinookSQLAgent
    response = {}
    try:
        response = agent_executor.invoke(query)
    except Exception as e:
        pass

    return response.get("output", "I don't know?")

In [16]:
query_chinook_sqldb.invoke("What are all the genres of Alanis Morissette songs?")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track The Track table and Genre table will likely contain the information I need.
Action: sql_db_schema
Action Input: Track, Genre
CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/ The Track table has a foreign key reference to the Genre table.  I should be able to join this table to get the Genre for each track.  I should then filter to only include tracks by Alanis Morissette.
Action: sql_db_query
Action Input: SELECT DISTINCT g.Name AS Genre FROM Track AS t LEFT JOIN Genre AS g ON t.GenreId = g.GenreId WHERE t.Composer LIKE '%Alanis Morissette%';[('Rock',)]Final Answer: Rock

> Finished chain.

'Rock'

In [17]:
class SingletonMeta(type):
    _instances = {}

    def __call__(cls, *args, **kwargs):
        if cls not in cls._instances:
            cls._instances[cls] = super(SingletonMeta, cls).__call__(*args, **kwargs)
        return cls._instances[cls]

class SingletonClass(metaclass=SingletonMeta):
    def __init__(self, value):
        self.value = value
        print(f"Value: {value}")

# Usage
obj1 = SingletonClass(10)
obj2 = SingletonClass(20)

print(obj1.value)  # Output: 10
print(obj2.value)  # Output: 10 (same instance as obj1)
print(obj1 is obj2)  # Output: True

Value: 10
10
10
True